.Content {
  width: 90%;
  font-size: 14px;
  backdrop-filter: blur(7px);
  border-radius: 15px;
  margin: 0 auto;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  background: rgba(224, 224, 224, 0.19);
  margin-top: 38px;
  .inputstyle {
    background: #d8d8d8;
    border-radius: 4px;
    color: #ffffff;
    line-height: 25px;
  }
  .buttonstyle {
    width: 100%;
    height: 40px;
    background: #e89e2c;
    backdrop-filter: blur(2px);
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    line-height: 25px;
    text-align: left;
    font-style: normal;
  }
  .buttonstyleflg {
    width: 100%;
    height: 40px;
    background: #494642;
    backdrop-filter: blur(2px);
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    line-height: 25px;
    text-align: left;
    font-style: normal;
  }
  .buttonHelpFriendstyle {
    width: 100%;
    height: 40px;
    border: 1px solid #e89e2c;
    color: #e89e2c;
    font-size: 18px;
    background: rgba(49, 47, 47, 0);
    line-height: 25px;
    border-radius: 4px;
    // opacity: 0.8;
    backdrop-filter: blur(2px);
  }
  .ContentText {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    border-bottom: 3px solid #e89e2c;
    margin-bottom: 20px;
  }
  .ContentInstructions {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    text-align: left;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 8px;
  }
  .Contentlabel {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
    text-align: left;
    font-style: normal;
  }
  .labelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .labelLeft {
    margin-right: auto;

    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
    text-align: left;
    font-style: normal;
  }
  .labelRight {
    margin-left: auto;

    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    text-align: left;
    font-style: normal;
  }
  .CalculatedValue {
    font-weight: 500;
    font-size: 28px;
    color: #e89e2c;
    line-height: 40px;
    text-align: left;
    font-style: normal;
  }
  .Ustyle {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
    text-align: left;
    font-style: normal;
  }
}
