.Content {
  min-width: 100%;
  font-size: 14px;
  backdrop-filter: blur(7px);
  border-radius: 15px;
  margin: 0 auto;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow-x: auto;
  height: 70vh;
  .ContentText {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    border-bottom: 3px solid #e89e2c;
  }
  .Tabsstyle {
    text-align: left;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    font-style: normal;
    margin-bottom: 8px;
  }
  .teamstyle {
    margin: 0 16px;
  }
  .ComputingPower {
    width: 100%;
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 使子元素两端对齐 */
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .Contentlabel {
    font-weight: 400;
    font-size: 16px;
    color: #e89e2c;
    line-height: 17px;
    text-align: left;
    font-style: normal;
  }
  .power {
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    line-height: 17px;
    text-align: right;
    font-style: normal;
  }
  .AmountReceived {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    line-height: 20px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
  }
  .ArrivalTime {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    text-align: left;
    font-style: normal;
  }
  .ComputingPowercont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-bottom: 11px;
    color: #ffffff;
    font-size: 18px;
    border-bottom: #e89e2c;
  }
  .ComputingPowercont div {
    text-align: left;
  }
  /* 移除最后一个span的右边距 */
  .ComputingPowercont span:last-child {
    margin-right: 0;
  }
  .demo-loadmore-list {
    min-height: 200px;
    color: #ffffff;
  }
}
