.content {
  width: 90%;
  border-radius: 15px;
  opacity: 0.8;
  margin: 0 auto;
  color: #fff;
  background: rgba(224, 224, 224, 0.19);
  backdrop-filter: blur(10px); /* 模糊半径为10px */
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  .title {
    text-align: center;
    // font-family: "PingFang-SC, PingFang-SC";
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    border-bottom: 3px solid #e89e2c;
    display: inline-block;
  }
}
