@tailwind base;
@tailwind components;
@tailwind utilities;
/* .ant-input-disabled{
	color:yellow !important;
} */
.allqina {
  color: #d8d8d8;
  font-size: 16px;
  margin-top: 12px;
  text-align: left;
}
:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.tikuan .ant-select-selector{
  background:none !important;
  border:none !important;
  color: #E89E2C !important;
}
.tikuan .ant-select-selection-item{
  background:none !important;
  border:none !important;
  color: #E89E2C !important;
}
.tikuan .ant-select-arrow{
  color: #E89E2C !important;
}

@layer base {
  body {
    background: url("https://white-key-landfowl-741.mypinata.cloud/ipfs/QmWrNfknnSDJXPS5pdDx4wqeoaci1iei1ZL6npC9jxk3Dm/cbg.png")
      no-repeat;
    background-position: center;
    /* @apply bg-zinc-950 text-neutral-200; */
  }

  .tw-connect-wallet .css-bedeeg {
    width: "130px";
    padding: "5px 0";
    border-radius: 15px;
    border: "1px solid #e89e2c";
    text-align: center;
    color: "#e89e2c";
    font-size: 16px;
  }
  .ant-card-body {
    padding: 0px !important;
  }
}


.ant-tabs-tab-active{
	.ant-tabs-tab-btn{ 
		font-size: 18px !important;
		font-weight: bold !important;
		color: #FFC702 !important;
	}
}
.ant-tabs-tab{
	.ant-tabs-tab-btn{ 
		font-size: 18px !important;
		font-weight: bold !important;
		color: #FFFFFF ;
	}
}
.ant-tabs-ink-bar{
	background: #FFC702 !important;

}
.cropper-view-box{
  border-radius: 50% !important;
}
.css-140veey{
	min-width: 136px !important;
	padding: 3px !important;

	display: flex;
    justify-content: space-evenly;
	.css-1d4s0we{
		gap: 0 !important;
	}
}
.ant-tabs-nav::before{
	border-bottom:none !important;
}
