.Content {
  width: 90%;
  font-size: 14px;
  backdrop-filter: blur(7px);
  border-radius: 15px;
  background: rgba(224, 224, 224, 0.19);
  margin: 0 auto;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  .ContentText {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    border-bottom: 3px solid #e89e2c;
  }
}
