.pageMenu {
  height: 360px;
  background-position: center;
  position: relative;
  .top {
    display: flex;
    flex-wrap: wrap;
  }
  .menyBtn0 {
    position: absolute;
    top: 23%;
    left: 130px;
  }
  .menyBtn1 {
    position: absolute;
    top: 50%;
    left: 12%;
  }
  .menyBtn2 {
    position: absolute;
    top: 43%;
    left: 52%;
  }
  .menyBtn3 {
    position: absolute;
    left: 35%;
    top: 81%;
  }
  .menyBtn4 {
    position: absolute;
    top: 73%;
    left: 73%;
  }
  .menyBtn5 {
    position: absolute;
    right: 2%;
    bottom: 1%;
  }

  .menyBtn {
    display: flex;
    flex-direction: column;
    align-items: center;

    .menyBtn-n {
      color: #ffffff;
      font-size: 14px;
    }
    .menyBtn-e {
      color: #e5cf99;
      font-size: 9px;
      white-space: nowrap;
    }
  }
  img {
    max-width: none;
  }
  .img0 {
    width: 70px;
    height: 70px;
  }
  .img1 {
    width: 70px;
    height: 70px;
  }
  .img2 {
    width: 120px;
    height: 120px;
  }
  // 首页
  .img3 {
    width: 70px;
    height: 70px;
  }
  .img4 {
    width: 56px;
    height: 56px;
  }
  .img5 {
    width: 70px;
    height: 70px;
  }
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .imageGif {
    width: 100%;
    height: 360px;
  }
}
