.Content {
  width: 90%;
  font-size: 14px;
  backdrop-filter: blur(7px);
  border-radius: 15px;
  background: rgba(224, 224, 224, 0.19);
  margin: 0 auto;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top:48px;
  .inputstyle2 {
    height: 40px;
    line-height: 40px;
    background: #e7e7e7;
    border-radius: 5px;
    color: #2c32e8;
    font-size: 18px;
  }
  .inputstyle3 {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: #45a51a;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
  }
  .inputstyle {
    background: #d8d8d8;
    color: black;
    border-radius: 4px;
    // height: 40px;
    line-height: 25px;
  }
  .buttonstyle {
    width: 100%;
    height: 40px;
    background: #e89e2c;
    backdrop-filter: blur(2px);
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    line-height: 25px;
    text-align: left;
    font-style: normal;
  }
  .buttonstyleflg {
    width: 100%;
    height: 40px;
    background: #494642;
    backdrop-filter: blur(2px);
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    line-height: 25px;
    text-align: left;
    font-style: normal;
  }
  .buttonHelpFriendstyle {
    width: 100%;
    height: 40px;
    border: 1px solid #e89e2c;
    color: #e89e2c;
    font-size: 18px;
    background: rgba(49, 47, 47, 0);
    line-height: 25px;
    border-radius: 4px;
    // opacity: 0.8;
    backdrop-filter: blur(2px);
  }
  .ContentText {
    text-align: center;

    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    border-bottom: 3px solid #e89e2c;
  }
  .ContentInstructions {
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    font-style: normal;
    margin: 10px auto;
  }
  .Contentlabel {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
    text-align: left;
    font-style: normal;
  }
  .labelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  .labelLeft {
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    line-height: 22px;
    text-align: left;
    font-style: normal;
  }
  .labelLeftZSD {
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    line-height: 22px;
    text-align: left;
    font-style: normal;
  }
  .labelLeftone {
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    font-style: normal;
    color: #45a51a;
  }
  .labelRight {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
    text-align: right;
    font-style: normal;
  }
  .cost {
    text-align: justify;
  }
  .CalculatedValue {
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    color: #d8d8d8;
    line-height: 40px;
    font-style: normal;
  }
  .Ustyle {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
    text-align: left;
    font-style: normal;
  }
  .currencycontainer {
    width: 100%;
    margin-top: 23px;
    padding: 0px 30px;
    text-align: center;
    // display: flex; /* 使用flex布局 */
    // justify-content: space-between; /* 子元素分布在容器内，两端对齐，中间间隔均匀 */
    // align-items: flex-start; /* 子元素在交叉轴上向起始位置对齐 */
  }
  .currencyrow {
    width: 50%;
    display: inline-block;
  }
  .USDTstyle {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-style: normal;
  }
  .USDTnuber {
    font-weight: 600;
    font-size: 16px;
    color: #e89e2c;
    line-height: 40px;
    font-style: normal;
    white-space: normal;
  }
  .NumberPeoplestyle {
    font-weight: 600;
    font-size: 28px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    font-style: normal;
  }
  .NumberPeople {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-style: normal;
  }
  .Content {
    width: 90%;
    font-size: 14px;
    backdrop-filter: blur(7px);
    border-radius: 15px;
    background: rgba(224, 224, 224, 0.19);
    margin: 0 auto;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

    .ContentText {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      line-height: 28px;
      text-align: center;
      font-style: normal;
      border-bottom: 3px solid #e89e2c;
    }
    .Tabsstyle {
      text-align: left;
      margin-top: 20px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      font-style: normal;
      margin-bottom: 8px;
    }
    .teamstyle {
      margin: 0 16px;
    }
    .ComputingPower {
      width: 100%;
      display: flex; /* 使用flex布局 */
      justify-content: space-between; /* 使子元素两端对齐 */
      margin-top: 12px;
    }
    .Contentlabel {
      font-weight: 400;
      font-size: 16px;
      color: #e89e2c;
      line-height: 17px;
      text-align: left;
      font-style: normal;
    }
    .power {
      font-weight: 400;
      font-size: 12px;
      color: #999999;
      line-height: 17px;
      text-align: right;
      font-style: normal;
    }
    .AmountReceived {
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
      line-height: 20px;
      text-align: left;
      font-style: normal;
    }

    .ArrivalTime {
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
      line-height: 20px;
      text-align: left;
      font-style: normal;
    }
    .ComputingPowercont {
      width: 100%;
      display: flex; /* 使用flex布局 */
      justify-content: space-between; /* 使子元素两端对齐 */
      margin-top: 12px;
      padding-bottom: 11px;
      border-bottom: 1px solid #dadae5;
    }
  }
}
// 弹窗
.conters {
  margin-top: 35px;
  display: flex; /* 使用Flexbox布局 */
  justify-content: space-between; /* 子元素左右分布 */
  align-items: center; /* 垂直居中对齐 */
  padding: 10px; /* 容器内边距 */
  background-color: #f8f8f8; /* 背景颜色 */
  border: 1px solid #e7e7e7; /* 边框 */
}
/* span 标签的样式 */
.conters span {
  flex: 1; /* 让每个span占据相等的空间 */
  text-align: center; /* 文本居中 */
  font-weight: bold; /* 字体加粗 */
  color: #333; /* 字体颜色 */
}

.contersone {
  margin-top: 10px;
  display: flex; /* 使用Flexbox布局 */
  justify-content: space-between; /* 子元素左右分布 */
  align-items: center; /* 垂直居中对齐 */
  padding: 10px; /* 容器内边距 */
  background-color: #f8f8f8; /* 背景颜色 */
  border: 1px solid #e7e7e7; /* 边框 */
}

.contersone span {
  flex: 1; /* 让每个span占据相等的空间 */
  text-align: center; /* 文本居中 */
  font-weight: bold; /* 字体加粗 */
  color: #333; /* 字体颜色 */
}

.Cancelstyle {
  margin-top: 10px;
}
