.chatcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.chatbubble {
  display: flex; /* 使用Flexbox布局 */
  justify-content: space-between; /* 子元素左右分布 */
  align-items: center; /* 垂直居中 */
}

.chatbubble > div {
  flex: 1;
  text-align: left;
}

.textstyle {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  font-style: normal;
}

.centerstyle {
  font-weight: 400;
  font-size: 16px;
  color: #e89e2c;
  line-height: 64px;
  text-align: center;
  border-bottom: 1px solid #494956;
}

.chatbubble .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.chatbubble .icon img {
  width: 53px;
  height: 53px;
  max-width: none;
}

.chatbubble .message {
  padding: 5px 20px;
  width: 263px;
  text-align: left;
  height: 53px;
  position: relative;
  background: url("https://white-key-landfowl-741.mypinata.cloud/ipfs/QmWrNfknnSDJXPS5pdDx4wqeoaci1iei1ZL6npC9jxk3Dm/xpp.png")
    no-repeat;
  left: 5px;
  background-size: contain;
  color: #333333;
}
