.chatcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.chatbubble {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.chatbubble .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.chatbubble .icon img {
  width: 53px;
  height: 53px;
  max-width: none;
}

.chatbubble .message {
  padding: 5px 20px;
  width: 263px;
  text-align: left;
  height: 53px;
  position: relative;
  background: url("https://white-key-landfowl-741.mypinata.cloud/ipfs/QmWrNfknnSDJXPS5pdDx4wqeoaci1iei1ZL6npC9jxk3Dm/xpp.png")
    no-repeat;
  left: 5px;
  background-size: contain;
  color: #333333;
}
